.accordion-component {
  margin: 2rem 0 1rem;
  background-color: #fff;
  padding: 1rem;
  border-top: 3px solid blue;
  border-radius: 4px;
}
.accordion-component__title {
  text-transform: capitalize;
  font-weight: normal;
}
.movie-details {
  padding: 1em;
}
.movie-description {
  font-size: 1.1em;
  color: #564e58;
}

.movie-rate {
  color: #bb4d00;
  font-size: 1.1em;
  margin-top: 0.2em;
}
