.accordion-section {
  margin: 0.5em 0;
}
.accordion-section-outer-box {
  padding: 1em;
  text-transform: capitalize;
  cursor: pointer;
  border-radius: 5px;
  display: flex;
  align-items: center;
}
.accordion__icon {
  float: left;
  margin: 0 1em;
  font-size: 1.5em;
}
.accordion__controls {
  margin-left: auto;
}

.accordion__controls * {
  width: 8em;
}
.accordion-section-inner-box {
  padding: 0 3.5em;
}
